.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./cover.jpg');
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 70px;
}

.App-logo {
  width: 70px;
  pointer-events: none;
  margin-right: 20px;
}

.body {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.brand {
  display: flex;
  flex-basis: 33%;
  padding: 25px;
  justify-content: center;
}

.brand a {
  width: 100%;
}

.brand img {
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px;
  background: lightgray;
}

@media only screen and (min-width: 600px) {
  .header {
    font-size: 100px;
  }

  .App-logo {
    width: 100px;
  }

  .brands {
    display: flex;
  }
}
